@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap');

.outerContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}
.container{
    box-sizing: border-box;
    width: 1250px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #E9EEF2;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    .leftPanel{
        background-color: #E9EEF2;
        min-width: 400px;
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        justify-content: space-around;
        height: 100%;
        align-items: center;
        .timeZoneContainer{
            line-height: 8px;
            .header{
                font-weight: 600;
                font-size: 14px;
            }
            .time{
                font-weight: 500;
                font-size: 12px;
            }
            .location{
                font-size: 12px;
                margin-left: 6px;
                font-weight: 500;
                color: #c1cdd3;
            }
        }
    }
    .rightPanel{
        background-color: #fff;
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;
        flex: 1 0 auto;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        align-items: center;
        .timeZoneContainer{
            line-height: 8px;
            width: 110px;
            padding: 0 15px;
            .header{
                font-weight: 600;
                font-size: 14px;
            }
            .time{
                font-weight: 500;
                font-size: 12px;
            }
        }
        .location{
            font-size: 12px;
            line-height: 8px;
            margin-left: 6px;
            padding: 0 12px;
        }
    }
    .helpPanel{
        color: #c68900;
        background-color: #fff;
        margin-right: 10px;
        height: 60px;
        padding: 10px;
        button{
            background: none;
            border: none;
            color: #c68900;
            text-decoration: none;
            cursor: pointer;
        }
    }
}