@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

.guidedSearchContainer{
    position: absolute;
    left: 130px;
    top: 130px;
    height: 80%;
    width: 80%;
    z-index: 10;
    border: 1px solid #e8edf1;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    .peopleResultsContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .peopleDirectoryHeader{
        width: 100%;
        font-family: 'QuattrocentoSans';
        font-size: 20px;
        color: #000;
        line-height: 17px;
        margin: 0 0 7px 0;
    };
    .peopleCard{
        border: 1px solid #e8edf1;
        height: 130px;
        width: 305px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        .photoContainer{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-size: cover;
            background-position: center;
            border: 1px solid #669ac5;
            img{
                height: 60px;
                width: 60px;
            }
        }
        .dataContainer{
            flex-grow: 1;
            margin: 0 0 0 10px;
            .headerContainer{
                display: flex;
                font-family: 'Open Sans', sans-serif;
                .personName{
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: .16px;
                    color: #689ac5;
                    text-decoration: none;
                    width: 80%;
                    font-weight: 600;
                    a, a:hover, a:visited{
                        color: #689ac5;
                    text-decoration: none;
                    }
                };
                .personExtension{
                    font-size: 12px;
                    width: 70px;
                    line-height: 24px;
                    letter-spacing: 0;
                    color: #464646;
                }
            };
        };
    };
    .title{
        font-size: 12px;
        line-height: 16px;
        font-weight: 600;
        font-style: italic;
        color: #464646;
    };
    .department{
        font-size: 12px;
        line-height: 16px;
        color: #464646;
    };
    .rate{
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #464646;
    };
    .assistant{
        .assistantPrefix{
            color: #464646;
            padding: 0 4px;
        }
        .assistantName{
            color: #689ac5;
            text-decoration: none;
            font-weight: 600;
            padding: 0 4px;
            a, a:hover, a:visited{
                color: #689ac5;
                text-decoration: none;
            }
        }
        .assistantExtension{
            color: #464646;
        }
        font-size: 12px;
        line-height: 16px;
        color: #689ac5;
    };
    .floorPlan{
        font-size: 12px;
        line-height: 16px;
        color: #689ac5;
        a, a:hover, a:visited{
            color: #689ac5;
            text-decoration: none;
        }
    };
    .header{
        width: 100%;
        font-family: 'Quattrocento Sans', sans-serif;
        font-size: 20px;
        color: #000;
        line-height: 17px;
        margin: 0 0 7px 0;
    };
    .clientDirectoryContainer{
        width: 35%;
        margin: 25px 10px;
        height: 190px;
        .inner{
            height: 100%;
            border: 1px solid #e8edf1;
            ul{
                list-style: none;
                li{
                    padding: 5px 0;
                }
            }
        }
    }
    .matterLookupContainer{
        width: 35%;
        margin: 25px 10px;
        height: 190px;
        .inner{
            border: 1px solid #e8edf1;
            ul{
                list-style: none;
                li{
                    padding: 5px 0;
                }
            }
        }
    }
    .selectASearchContainer{
        width: 25%;
        margin: 25px 10px;
        height: 190px;
        .inner{
            border: 1px solid #e8edf1;
            :nth-child(even){
                background-color: #f8f8f8;
            }
            :nth-child(odd){
                background-color: #fff;
            }
            .searchTypes{
                list-style: none;
                li{
                    height: 50px;
                }
            }
        }
    }
    .intranetSearchContainer{
        width: 70%;
        margin: 25px 10px;
        height: 190px;
        .inner{
            border: 1px solid #e8edf1;

            ul{
                list-style: none;
                li{
                    height: 50px;
                }
            }
        }
    }
    .footer{
        width: calc(100% + 40px);
        margin: 20px 0 0 -20px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        background-color: #e8edf1;
        height: 50px;
        button{
            background-color: #3275AF;
            color: #fff;
            margin: 8px 20px;
        }
    }
}