.guidedSearchContainer{
    background-color: #acafb3;
    padding: 20px;
    width: 100%;
    min-width: 250px;
    min-height: 200px;
    z-index: 1;
    min-height: 200px;
    li{
        display: block;
        padding: 0 15px;
    }
}