.leftNav{
    height: 100%;
    width: 220px;
    position: absolute;
    left: 0;
    z-index: 10;
    background-color: #475666;
}
.menuContainer{
    background-color: #475666;
    // background-color: #fff;
    // border: 1px solid black;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;

    .leftMenu{
        list-style: none;
        margin: 0;
        height: 100%;
        width: 100%;
        li{
            line-height: 60px;
            a{
                line-height: 60px;
                display: inline-block;
                color: #fff;
                text-decoration: none;
            }
            a:hover{
                color: #E7A91E;
                text-decoration: none;
            }
            padding: 0 15px;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
        }
        li:hover{
            background-color: #FFF;
            color: #E7A91E;
        }
    }
    .subMenu{
        
        position: absolute;
        left: 220px;
        width: 900px;
        .heading{
            width: 100%;
            font-weight: 700;
            .headerText{
                border-bottom: 2px solid #e7a91e;
            }
        }
        
        display: flex;
        flex-wrap: wrap;
        // background-color: #f7f7f7;
        background-color: #fff;
        border: 1px solid #e8edf1;
        color: #0A0A0A;
        padding: 20px;
        
        min-width: 250px;
        min-height: 200px;
        z-index: 10;
        min-height: 200px;
        ul{
            li{
                display: block;
                padding: 6px 15px;
                a, a:visited{
                    color: #0A0A0A
                };
                a:hover{
                    color: #E7A91E
                }
            }
        }
        
    }
}