.menuContainer{
    background-color: #475666;
    display: absolute;
    left: 0;
    top: 100px;
    color: #fff;
    height: 100%;
    width: 206px;
    overflow: hidden;

    ul{
        list-style: none;
        li{
            padding: 15px 5px 15px 5px;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
        }
    }
}