@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/open-sans-v17-latin-regular.woff') format('woff'), url('../fonts/open-sans-v17-latin-regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'QuattroCentoSansRegular';
    src: url('../fonts/quattrocento-sans-v12-latin-regular.woff') format('woff'), url('../fonts/quattrocento-sans-v12-latin-regular.ttf') format('truetype');
  } 

.leftNav{
    height: 100%;
    width: 220px;
    position: fixed;
    left: 0;
    z-index: 200;
    background-color: #475666;
    font-family: 'OpenSansRegular', sans-serif;
    font-size: 14px;
}
.menuContainer{
    background-color: #475666;
    // background-color: #fff;
    // border: 1px solid black;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;

    .leftMenu{
        list-style: none;
        margin: 0;
        height: 100%;
        width: 100%;
        padding-left: 1em;
        padding-inline-start: 0;
        li{
            .leftMenuText{
                margin-left: 10px;
            }

            line-height: 60px;
            color: #fff;
            padding-left: 20px;
            a{
                line-height: 60px;
                display: inline-block;
                color: #fff;
                text-decoration: none;
            }
            a:hover{
                color: #E7A91E;
                text-decoration: none;
            }
            padding: 0 15px;
            font-size: 14px;
            
            cursor: pointer;
        }
        li:hover{
            background-color: #FFF;
            color: #E7A91E;
            a{
                line-height: 60px;
                display: inline-block;
                color: #E7A91E;
                text-decoration: none;
            }
            a:hover{
                color: #E7A91E;
                text-decoration: none;
            }
        }
        .linkButton{
            background: none;
            border: none;
            font-weight: 600;
            font-size: 14px;
            color: #689ac5;
            text-decoration: none;
            cursor: pointer;
        }
    }
    .subMenu{
        font-family: 'OpenSansRegular', sans-serif;
        font-size: 12px;
        position: absolute;
        left: 220px;
        width: 1200px;
        //box-shadow: 5px 10px #475666;
        .heading{
            width: 100%;
            font-weight: 700;
            .headerText{
                border-bottom: 2px solid #e7a91e;
            }
        }
        .linkButton{
            background: none;
            border: none;
            text-decoration: none;
            cursor: pointer;
        }
        display: flex;
        flex-wrap: wrap;
        // background-color: #f7f7f7;
        background-color: #fff;
        border-top: 2px solid #475666;
        border-right: 2px solid #475666;
        border-bottom: 2px solid #475666;
        color: #0A0A0A;
        padding: 20px;
        
        min-width: 250px;
        min-height: 200px;
        z-index: 10;
        min-height: 200px;
        ul{
            padding-left: 1em;
            padding: 0;
            li{
                color: #0A0A0A;
                display: block;
                padding: 6px 15px;
                a, a:visited{
                    color: #0A0A0A
                };
                a:hover{
                    color: #E7A91E
                }
            }
            li:hover{
                color: #E7A91E
            }
        }
        
    }
}