.navOpenButton{
    color: #689ac5;
    background-color: #fff;
    border: none;
    height: 30px;
    width: 80px;
    margin: 0;
    cursor: pointer;
    outline: none;
    svg{
        height: 30px;
        width: 30px;
    }
}
.navCloseButton{
    height: 100%;
    margin: 0;
    background-color: #475666;
    width: 80px;
    color: #fff;
    border: none;
    cursor: pointer;
    outline: none;
}