.card {
  border: 1px solid #e8edf1;
  height: 145px;
  width: 305px;
  padding: 10px 6px;
  display: flex;
  justify-content: space-between;
  line-height: normal;
  text-size-adjust: none;
  box-sizing: border-box;
  .photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 1px solid #669ac5;
    .fallback {
      background-image: url('../images//person.png');
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
    }
  }
  .dataContainer {
    flex-grow: 1;
    margin: 0 0 0 10px;
    .header {
      font-family: "Open Sans", sans-serif;
      .name {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.16px;
        color: #689ac5;
        text-decoration: none;
        font-weight: 600;
        width: 100%;
        a,
        a:hover,
        a:visited {
          color: #689ac5;
          text-decoration: none;
        }
      }
      .phoneContainer {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0;
        width: 100%;
        color: #464646;
        margin-top: -3px;
        .phonePrefix{
          margin: 0 4px 0 0;
        }
      }
    }
    .title {
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;
      font-style: italic;
      color: #464646;
    }
    .department {
      font-size: 12px;
      line-height: 16px;
      color: #464646;
    }
    .rate {
      margin: 4px 0 0 0;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #464646;
    }
    .assistant {
      .assistantPrefix {
        color: #464646;
        padding: 0 4px;
      }
      .assistantName {
        color: #689ac5;
        text-decoration: none;
        font-weight: 600;
        padding: 0 4px;
        a,
        a:hover,
        a:visited {
          color: #689ac5;
          text-decoration: none;
        }
      }
      .assistantExtension {
        color: #464646;
      }
      font-size: 12px;
      line-height: 16px;
      color: #689ac5;
    }
    .floorPlan {
      font-size: 12px;
      line-height: 16px;
      color: #689ac5;
      a,
      a:hover,
      a:visited {
        color: #689ac5;
        text-decoration: none;
      }
    }
  }
  .linkButton {
    background: none;
    border: none;
    font-weight: 600;
    font-size: 14px;
    color: #689ac5;
    text-decoration: none;
    cursor: pointer;
  }
}
