.searchContainer{
    border: 1px solid #e7e7e7;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 0 auto;
    width: 50%;
    .searchBox{
        border: none;
        background: #fff;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0.35em 0.75em;
        border: none;
        font-size: 1.1em;
        text-decoration: none;
        line-height: normal;
        max-height: 4em;
        flex: 2 0 500px;
        min-width: 200px;
        width: 70%;
    }    
    .advancedSearchButton{
        background: #fff;
        border: none;
        cursor: pointer;
        color: #669aC5;
        margin-right: 18px;
    }
    .searchButton{
        max-height: 3em;
        font-size: 1.1em;
        letter-spacing: .2em;
        text-transform: uppercase;
        background: #3275af;
        color: white;
        border: none;
        padding: 0.35em 0.75em;
        cursor: pointer;
    }
}
