.menuContainer{
    background-color: #475666;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;

    .topMenu{
        list-style: none;
        margin: 0;
        height: 100%;
        width: 100%;
        li{
            line-height: 60px;
            a{
                line-height: 60px;
                display: inline-block;
            }
            display: inline-block;
            padding: 0 15px;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
        }
        li:hover{
            background-color: #FFF;
            color: #E7A91E;
        }
    }

    .managementMenu{
        .heading{
            font-weight: 700;
            text-decoration: underline;
            text-decoration-color: #E7A91E;
        }
        background-color: #fff;
        color: #0A0A0A;
        padding: 20px;
        width: 100%;
        min-width: 250px;
        min-height: 200px;
        z-index: 1;
        min-height: 200px;
        li{
            display: block;
            padding: 0 15px;
        }
    }
    .teamsMenu{
        .heading{
            font-weight: 700;
            text-decoration: underline;
            text-decoration-color: #E7A91E;
        }
        display: flex;
        background-color: #fff;
        color: #0A0A0A;
        padding: 20px;
        width: 100%;
        min-width: 250px;
        min-height: 200px;
        z-index: 1;
        min-height: 200px;
        li{
            display: block;
            padding: 0 15px;
        }
    }
    .committeesMenu{
        .heading{
            font-weight: 700;
            text-decoration: underline;
            text-decoration-color: #E7A91E;
        }
        background-color: #fff;
        color: #0A0A0A;
        padding: 20px;
        width: 100%;
        min-width: 250px;
        min-height: 200px;
        z-index: 1;
        min-height: 200px;
        li{
            display: block;
            padding: 0 15px;
        }
    }
    .officesMenu{
        .heading{
            font-weight: 700;
            text-decoration: underline;
            text-decoration-color: #E7A91E;
        }
        background-color: #fff;
        color: #0A0A0A;
        padding: 20px;
        width: 100%;
        min-width: 250px;
        min-height: 200px;
        z-index: 1;
        min-height: 200px;
        li{
            display: block;
            padding: 0 15px;
        }
    }
    .administrationMenu{
        .heading{
            font-weight: 700;
            text-decoration: underline;
            text-decoration-color: #E7A91E;
        }
        background-color: #fff;
        color: #0A0A0A;
        padding: 20px;
        width: 100%;
        min-width: 250px;
        min-height: 200px;
        z-index: 1;
        min-height: 200px;
        li{
            display: block;
            padding: 0 15px;
        }
    }
}