.menuContainer{
    background-color: #475666;
    color: #fff;
    display: flex;
    align-items: center;
    height: 60px;

    ul{
        list-style: none;
        li{
            display: inline;
            padding: 0 15px;
            font-size: 14px;
            font-weight: 600;
            cursor: pointer;
        }
    }
}